In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Sarma'

In [4]:
os.chdir("C:/Users/Sarma/Desktop/datasets")

In [5]:
os.getcwd()

'C:\\Users\\Sarma\\Desktop\\datasets'

In [8]:
import numpy as np
import pandas as pd
data1=pd.read_csv("bikebuyer1.csv")

In [9]:
data1

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
2,NaN,Married,Male,160000,5.0,Partial College,Professional,No,3,2.0,Europe,55,No
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
4,25410.0,NaN,Female,70000,2.0,Bachelors,Skilled Manual,No,1,1.0,North America,38,Yes
5,4.0,Married,NaN,120000,2.0,Bachelors,Management,Yes,3,1.0,North America,40,No
6,15756.0,Single,Female,70000,0.0,High School,Professional,Yes,2,NaN,Pacific,49,Yes
7,11085.0,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
8,17974.0,NaN,Female,0,NaN,Bachelors,Clerical,Yes,0,10.0,Europe,38,Yes
9,21008.0,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes
10,28985.0,Single,Male,50000,0.0,Bachelors,Management,No,2,2.0,North America,64,No
11,11087.0,Married,Female,70000,2.0,Partial College,Professional,No,0,11.0,North America,49,No
12,20434.0,Single,NaN,60000,0.0,Partial College,Skilled Manual,No,2,1.0,North America,31,Yes
13,14902.0,NaN,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,50,Yes
14,11091.0,Married,Male,90000,0.0,Partial College,Professional,Yes,1,1.0,North America,49,No
15,11094.0,Single,Male,70000,0.0,Partial College,Skilled Manual,No,1,1.0,Pacific,44,No
16,18568.0,Single,Female,50000,2.0,Bachelors,Skilled Manual,Yes,1,2.0,North America,39,Yes
17,16366.0,Married,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,51,Yes
18,20768.0,Single,Male,0,0.0,Partial College,Clerical,Yes,1,2.0,North America,48,Yes
19,11098.0,NaN,Female,60000,0.0,Partial College,Skilled Manual,No,1,6.0,Pacific,45,No
20,18269.0,Single,Female,60000,2.0,Bachelors,Professional,Yes,2,1.0,Pacific,43,Yes
21,11102.0,Single,NaN,80000,5.0,Bachelors,Professional,Yes,4,12.0,Pacific,41,No
22,11113.0,Married,Male,70000,4.0,Bachelors,Professional,Yes,2,1.0,Pacific,44,No
23,26529.0,NaN,Female,70000,0.0,Graduate Degree,Professional,Yes,0,NaN,North America,37,Yes
24,11114.0,Single,Female,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
25,23612.0,Single,Female,90000,0.0,Partial College,Professional,No,2,1.0,Europe,62,Yes
26,11115.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
27,11116.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,9.0,Pacific,44,No
28,11118.0,Single,Male,80000,NaN,Partial College,Skilled Manual,No,1,5.0,Pacific,49,No
29,19441.0,Single,Male,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6967,22779.0,Married,Male,60000,1.0,Partial College,Professional,Yes,2,2.0,North America,54,No
6968,22781.0,Married,Male,70000,2.0,Partial College,Professional,Yes,1,1.0,North America,55,No
6969,22783.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,2,1.0,North America,54,No
6970,22786.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,3,2.0,North America,54,No
6971,22792.0,Married,Male,70000,3.0,Partial College,Professional,Yes,1,7.0,North America,53,No
6972,22793.0,Single,Male,70000,3.0,Partial College,Professional,Yes,1,8.0,North America,53,No
6973,22794.0,Married,Female,130000,4.0,Partial College,Professional,Yes,1,9.0,Europe,48,No
6974,22795.0,Married,Female,110000,4.0,Partial College,Professional,Yes,3,2.0,Europe,49,No
6975,22796.0,Married,Male,110000,4.0,Partial College,Professional,No,3,3.0,Europe,49,No
6976,22798.0,Married,Female,150000,3.0,High School,Professional,Yes,4,5.0,Europe,49,No
6977,22799.0,Married,Female,120000,4.0,Partial High School,Professional,No,4,6.0,Europe,50,No
6978,22801.0,Married,Female,110000,4.0,Partial College,Professional,Yes,4,7.0,Europe,51,No
6979,22802.0,Single,Female,120000,4.0,Partial High School,Professional,Yes,4,1.0,Europe,51,No
6980,22804.0,Married,Female,80000,1.0,Partial College,Professional,Yes,2,2.0,Europe,51,No
6981,22805.0,Married,Female,80000,0.0,Bachelors,Management,Yes,2,1.0,Europe,62,No
6982,22806.0,Married,Female,90000,0.0,Partial College,Professional,Yes,2,1.0,Europe,62,No
6983,22807.0,Married,Female,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,62,No
6984,22809.0,Married,Male,80000,0.0,Partial College,Professional,Yes,2,7.0,Europe,61,No
6985,22811.0,Married,Male,110000,4.0,Bachelors,Management,Yes,4,8.0,Europe,61,No
6986,22812.0,Married,Female,120000,4.0,Bachelors,Management,Yes,4,9.0,Europe,61,No
6987,22813.0,Married,Male,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,61,No
6988,22814.0,Married,Male,100000,3.0,Bachelors,Management,Yes,4,3.0,Europe,60,No
6989,22815.0,Married,Female,100000,4.0,Bachelors,Management,Yes,1,5.0,Europe,60,No
6990,22818.0,Married,Female,150000,4.0,Graduate Degree,Management,Yes,4,6.0,Europe,60,No
6991,22819.0,Married,Female,80000,2.0,Partial College,Professional,Yes,2,7.0,Europe,53,No
6992,22820.0,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,22821.0,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,22823.0,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,22825.0,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,22826.0,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [10]:
data1=data1.drop(columns='ID')

In [11]:
data1

,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
2,Married,Male,160000,5.0,Partial College,Professional,No,3,2.0,Europe,55,No
3,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
4,NaN,Female,70000,2.0,Bachelors,Skilled Manual,No,1,1.0,North America,38,Yes
5,Married,NaN,120000,2.0,Bachelors,Management,Yes,3,1.0,North America,40,No
6,Single,Female,70000,0.0,High School,Professional,Yes,2,NaN,Pacific,49,Yes
7,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
8,NaN,Female,0,NaN,Bachelors,Clerical,Yes,0,10.0,Europe,38,Yes
9,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes
10,Single,Male,50000,0.0,Bachelors,Management,No,2,2.0,North America,64,No
11,Married,Female,70000,2.0,Partial College,Professional,No,0,11.0,North America,49,No
12,Single,NaN,60000,0.0,Partial College,Skilled Manual,No,2,1.0,North America,31,Yes
13,NaN,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,50,Yes
14,Married,Male,90000,0.0,Partial College,Professional,Yes,1,1.0,North America,49,No
15,Single,Male,70000,0.0,Partial College,Skilled Manual,No,1,1.0,Pacific,44,No
16,Single,Female,50000,2.0,Bachelors,Skilled Manual,Yes,1,2.0,North America,39,Yes
17,Married,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,51,Yes
18,Single,Male,0,0.0,Partial College,Clerical,Yes,1,2.0,North America,48,Yes
19,NaN,Female,60000,0.0,Partial College,Skilled Manual,No,1,6.0,Pacific,45,No
20,Single,Female,60000,2.0,Bachelors,Professional,Yes,2,1.0,Pacific,43,Yes
21,Single,NaN,80000,5.0,Bachelors,Professional,Yes,4,12.0,Pacific,41,No
22,Married,Male,70000,4.0,Bachelors,Professional,Yes,2,1.0,Pacific,44,No
23,NaN,Female,70000,0.0,Graduate Degree,Professional,Yes,0,NaN,North America,37,Yes
24,Single,Female,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
25,Single,Female,90000,0.0,Partial College,Professional,No,2,1.0,Europe,62,Yes
26,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
27,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,9.0,Pacific,44,No
28,Single,Male,80000,NaN,Partial College,Skilled Manual,No,1,5.0,Pacific,49,No
29,Single,Male,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
6967,Married,Male,60000,1.0,Partial College,Professional,Yes,2,2.0,North America,54,No
6968,Married,Male,70000,2.0,Partial College,Professional,Yes,1,1.0,North America,55,No
6969,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,2,1.0,North America,54,No
6970,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,3,2.0,North America,54,No
6971,Married,Male,70000,3.0,Partial College,Professional,Yes,1,7.0,North America,53,No
6972,Single,Male,70000,3.0,Partial College,Professional,Yes,1,8.0,North America,53,No
6973,Married,Female,130000,4.0,Partial College,Professional,Yes,1,9.0,Europe,48,No
6974,Married,Female,110000,4.0,Partial College,Professional,Yes,3,2.0,Europe,49,No
6975,Married,Male,110000,4.0,Partial College,Professional,No,3,3.0,Europe,49,No
6976,Married,Female,150000,3.0,High School,Professional,Yes,4,5.0,Europe,49,No
6977,Married,Female,120000,4.0,Partial High School,Professional,No,4,6.0,Europe,50,No
6978,Married,Female,110000,4.0,Partial College,Professional,Yes,4,7.0,Europe,51,No
6979,Single,Female,120000,4.0,Partial High School,Professional,Yes,4,1.0,Europe,51,No
6980,Married,Female,80000,1.0,Partial College,Professional,Yes,2,2.0,Europe,51,No
6981,Married,Female,80000,0.0,Bachelors,Management,Yes,2,1.0,Europe,62,No
6982,Married,Female,90000,0.0,Partial College,Professional,Yes,2,1.0,Europe,62,No
6983,Married,Female,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,62,No
6984,Married,Male,80000,0.0,Partial College,Professional,Yes,2,7.0,Europe,61,No
6985,Married,Male,110000,4.0,Bachelors,Management,Yes,4,8.0,Europe,61,No
6986,Married,Female,120000,4.0,Bachelors,Management,Yes,4,9.0,Europe,61,No
6987,Married,Male,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,61,No
6988,Married,Male,100000,3.0,Bachelors,Management,Yes,4,3.0,Europe,60,No
6989,Married,Female,100000,4.0,Bachelors,Management,Yes,1,5.0,Europe,60,No
6990,Married,Female,150000,4.0,Graduate Degree,Management,Yes,4,6.0,Europe,60,No
6991,Married,Female,80000,2.0,Partial College,Professional,Yes,2,7.0,Europe,53,No
6992,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [12]:
data1.apply(lambda x:sum(x.isnull()),axis=0)

Marital Status      16
Gender              29
Yearly Income        0
Children            18
Education            0
Occupation           0
Home Owner           0
Cars                 0
Commute Distance    29
Region               0
Age                  0
Bike Buyer           0
dtype: int64

# most frequent using imputer

In [13]:
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values='NaN',strategy='most_frequent',axis=0)

C:\Users\Sarma\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [14]:
features=data1.iloc[:,:-1].values

In [15]:
data1['Commute Distance'].mode()

0    1.0
dtype: float64

In [17]:
imputer.fit(features[:,[2,3,8]])

Imputer(axis=0, copy=True, missing_values='NaN', strategy='most_frequent',
    verbose=0)

In [18]:
features[:,[2,3,8]]=imputer.fit_transform(features[:,[2,3,8]])

In [19]:
df=pd.DataFrame(features)

In [20]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,Single,Male,30000,0,Partial College,Clerical,No,1,1,Europe,33
1,Married,Female,40000,0,Graduate Degree,Clerical,Yes,0,1,Europe,37
2,Married,Male,160000,5,Partial College,Professional,No,3,2,Europe,55
3,Single,Male,160000,0,Graduate Degree,Management,Yes,2,5,Pacific,47
4,NaN,Female,70000,2,Bachelors,Skilled Manual,No,1,1,North America,38
5,Married,NaN,120000,2,Bachelors,Management,Yes,3,1,North America,40
6,Single,Female,70000,0,High School,Professional,Yes,2,1,Pacific,49
7,Single,Female,60000,0,High School,Professional,No,2,1,North America,49
8,NaN,Female,0,0,Bachelors,Clerical,Yes,0,10,Europe,38
9,Single,Female,20000,1,Partial College,Manual,No,0,1,Europe,46
10,Single,Male,50000,0,Bachelors,Management,No,2,2,North America,64
11,Married,Female,70000,2,Partial College,Professional,No,0,11,North America,49
12,Single,NaN,60000,0,Partial College,Skilled Manual,No,2,1,North America,31
13,NaN,Female,40000,0,Partial College,Clerical,Yes,1,1,North America,50
14,Married,Male,90000,0,Partial College,Professional,Yes,1,1,North America,49
15,Single,Male,70000,0,Partial College,Skilled Manual,No,1,1,Pacific,44
16,Single,Female,50000,2,Bachelors,Skilled Manual,Yes,1,2,North America,39
17,Married,Female,40000,0,Partial College,Clerical,Yes,1,1,North America,51
18,Single,Male,0,0,Partial College,Clerical,Yes,1,2,North America,48
19,NaN,Female,60000,0,Partial College,Skilled Manual,No,1,6,Pacific,45
20,Single,Female,60000,2,Bachelors,Professional,Yes,2,1,Pacific,43
21,Single,NaN,80000,5,Bachelors,Professional,Yes,4,12,Pacific,41
22,Married,Male,70000,4,Bachelors,Professional,Yes,2,1,Pacific,44
23,NaN,Female,70000,0,Graduate Degree,Professional,Yes,0,1,North America,37
24,Single,Female,70000,4,Partial College,Skilled Manual,Yes,2,1,Pacific,44
25,Single,Female,90000,0,Partial College,Professional,No,2,1,Europe,62
26,Married,Male,70000,4,Partial College,Skilled Manual,Yes,2,1,Pacific,44
27,Married,Male,70000,4,Partial College,Skilled Manual,Yes,2,9,Pacific,44
28,Single,Male,80000,0,Partial College,Skilled Manual,No,1,5,Pacific,49
29,Single,Male,40000,0,Graduate Degree,Clerical,Yes,0,1,Europe,37
...,...,...,...,...,...,...,...,...,...,...,...
6967,Married,Male,60000,1,Partial College,Professional,Yes,2,2,North America,54
6968,Married,Male,70000,2,Partial College,Professional,Yes,1,1,North America,55
6969,Married,Male,70000,1,Partial High School,Skilled Manual,Yes,2,1,North America,54
6970,Married,Male,70000,1,Partial High School,Skilled Manual,Yes,3,2,North America,54
6971,Married,Male,70000,3,Partial College,Professional,Yes,1,7,North America,53
6972,Single,Male,70000,3,Partial College,Professional,Yes,1,8,North America,53
6973,Married,Female,130000,4,Partial College,Professional,Yes,1,9,Europe,48
6974,Married,Female,110000,4,Partial College,Professional,Yes,3,2,Europe,49
6975,Married,Male,110000,4,Partial College,Professional,No,3,3,Europe,49
6976,Married,Female,150000,3,High School,Professional,Yes,4,5,Europe,49
6977,Married,Female,120000,4,Partial High School,Professional,No,4,6,Europe,50
6978,Married,Female,110000,4,Partial College,Professional,Yes,4,7,Europe,51
6979,Single,Female,120000,4,Partial High School,Professional,Yes,4,1,Europe,51
6980,Married,Female,80000,1,Partial College,Professional,Yes,2,2,Europe,51
6981,Married,Female,80000,0,Bachelors,Management,Yes,2,1,Europe,62
6982,Married,Female,90000,0,Partial College,Professional,Yes,2,1,Europe,62
6983,Married,Female,130000,4,Bachelors,Management,Yes,4,2,Europe,62
6984,Married,Male,80000,0,Partial College,Professional,Yes,2,7,Europe,61
6985,Married,Male,110000,4,Bachelors,Management,Yes,4,8,Europe,61
6986,Married,Female,120000,4,Bachelors,Management,Yes,4,9,Europe,61
6987,Married,Male,130000,4,Bachelors,Management,Yes,4,2,Europe,61
6988,Married,Male,100000,3,Bachelors,Management,Yes,4,3,Europe,60
6989,Married,Female,100000,4,Bachelors,Management,Yes,1,5,Europe,60
6990,Married,Female,150000,4,Graduate Degree,Management,Yes,4,6,Europe,60
6991,Married,Female,80000,2,Partial College,Professional,Yes,2,7,Europe,53
6992,Married,Male,100000,4,High School,Professional,Yes,3,1,Europe,52
6993,Married,Female,130000,4,Partial College,Professional,Yes,4,2,Europe,52
6994,Married,Female,160000,5,Bachelors,Management,Yes,2,1,Europe,53
6995,Single,Female,120000,5,Partial College,Professional,Yes,3,1,Europe,54
6996,Married,Male,130000,5,High School,Professional,Yes,3,2,Europe,54

In [21]:
df.apply(lambda x:sum(x.isnull()))

0     16
1     29
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
dtype: int64

In [22]:
cols=[0,1]
df[cols]=df[cols].fillna(df.mode().iloc[0])

In [23]:
df.apply(lambda x:sum(x.isnull()))

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

# imputer using median

In [24]:

features1=data1.iloc[:,:-1].values

In [25]:
imputer=Imputer(missing_values='NaN',strategy='median',axis=0)

C:\Users\Sarma\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [26]:
imputer.fit(features1[:,[2,3,8]])

Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0)

In [27]:
features1[:,[2,3,8]]=imputer.fit_transform(features1[:,[2,3,8]])

In [28]:
df1=pd.DataFrame(features1)

In [29]:
df1

,0,1,2,3,4,5,6,7,8,9,10
0,Single,Male,30000,0,Partial College,Clerical,No,1,1,Europe,33
1,Married,Female,40000,0,Graduate Degree,Clerical,Yes,0,1,Europe,37
2,Married,Male,160000,5,Partial College,Professional,No,3,2,Europe,55
3,Single,Male,160000,0,Graduate Degree,Management,Yes,2,5,Pacific,47
4,NaN,Female,70000,2,Bachelors,Skilled Manual,No,1,1,North America,38
5,Married,NaN,120000,2,Bachelors,Management,Yes,3,1,North America,40
6,Single,Female,70000,0,High School,Professional,Yes,2,4,Pacific,49
7,Single,Female,60000,0,High School,Professional,No,2,1,North America,49
8,NaN,Female,0,0,Bachelors,Clerical,Yes,0,10,Europe,38
9,Single,Female,20000,1,Partial College,Manual,No,0,1,Europe,46
10,Single,Male,50000,0,Bachelors,Management,No,2,2,North America,64
11,Married,Female,70000,2,Partial College,Professional,No,0,11,North America,49
12,Single,NaN,60000,0,Partial College,Skilled Manual,No,2,1,North America,31
13,NaN,Female,40000,0,Partial College,Clerical,Yes,1,1,North America,50
14,Married,Male,90000,0,Partial College,Professional,Yes,1,1,North America,49
15,Single,Male,70000,0,Partial College,Skilled Manual,No,1,1,Pacific,44
16,Single,Female,50000,2,Bachelors,Skilled Manual,Yes,1,2,North America,39
17,Married,Female,40000,0,Partial College,Clerical,Yes,1,1,North America,51
18,Single,Male,0,0,Partial College,Clerical,Yes,1,2,North America,48
19,NaN,Female,60000,0,Partial College,Skilled Manual,No,1,6,Pacific,45
20,Single,Female,60000,2,Bachelors,Professional,Yes,2,1,Pacific,43
21,Single,NaN,80000,5,Bachelors,Professional,Yes,4,12,Pacific,41
22,Married,Male,70000,4,Bachelors,Professional,Yes,2,1,Pacific,44
23,NaN,Female,70000,0,Graduate Degree,Professional,Yes,0,4,North America,37
24,Single,Female,70000,4,Partial College,Skilled Manual,Yes,2,1,Pacific,44
25,Single,Female,90000,0,Partial College,Professional,No,2,1,Europe,62
26,Married,Male,70000,4,Partial College,Skilled Manual,Yes,2,1,Pacific,44
27,Married,Male,70000,4,Partial College,Skilled Manual,Yes,2,9,Pacific,44
28,Single,Male,80000,0,Partial College,Skilled Manual,No,1,5,Pacific,49
29,Single,Male,40000,0,Graduate Degree,Clerical,Yes,0,1,Europe,37
...,...,...,...,...,...,...,...,...,...,...,...
6967,Married,Male,60000,1,Partial College,Professional,Yes,2,2,North America,54
6968,Married,Male,70000,2,Partial College,Professional,Yes,1,1,North America,55
6969,Married,Male,70000,1,Partial High School,Skilled Manual,Yes,2,1,North America,54
6970,Married,Male,70000,1,Partial High School,Skilled Manual,Yes,3,2,North America,54
6971,Married,Male,70000,3,Partial College,Professional,Yes,1,7,North America,53
6972,Single,Male,70000,3,Partial College,Professional,Yes,1,8,North America,53
6973,Married,Female,130000,4,Partial College,Professional,Yes,1,9,Europe,48
6974,Married,Female,110000,4,Partial College,Professional,Yes,3,2,Europe,49
6975,Married,Male,110000,4,Partial College,Professional,No,3,3,Europe,49
6976,Married,Female,150000,3,High School,Professional,Yes,4,5,Europe,49
6977,Married,Female,120000,4,Partial High School,Professional,No,4,6,Europe,50
6978,Married,Female,110000,4,Partial College,Professional,Yes,4,7,Europe,51
6979,Single,Female,120000,4,Partial High School,Professional,Yes,4,1,Europe,51
6980,Married,Female,80000,1,Partial College,Professional,Yes,2,2,Europe,51
6981,Married,Female,80000,0,Bachelors,Management,Yes,2,1,Europe,62
6982,Married,Female,90000,0,Partial College,Professional,Yes,2,1,Europe,62
6983,Married,Female,130000,4,Bachelors,Management,Yes,4,2,Europe,62
6984,Married,Male,80000,0,Partial College,Professional,Yes,2,7,Europe,61
6985,Married,Male,110000,4,Bachelors,Management,Yes,4,8,Europe,61
6986,Married,Female,120000,4,Bachelors,Management,Yes,4,9,Europe,61
6987,Married,Male,130000,4,Bachelors,Management,Yes,4,2,Europe,61
6988,Married,Male,100000,3,Bachelors,Management,Yes,4,3,Europe,60
6989,Married,Female,100000,4,Bachelors,Management,Yes,1,5,Europe,60
6990,Married,Female,150000,4,Graduate Degree,Management,Yes,4,6,Europe,60
6991,Married,Female,80000,2,Partial College,Professional,Yes,2,7,Europe,53
6992,Married,Male,100000,4,High School,Professional,Yes,3,1,Europe,52
6993,Married,Female,130000,4,Partial College,Professional,Yes,4,2,Europe,52
6994,Married,Female,160000,5,Bachelors,Management,Yes,2,1,Europe,53
6995,Single,Female,120000,5,Partial College,Professional,Yes,3,1,Europe,54
6996,Married,Male,130000,5,High School,Professional,Yes,3,2,Europe,54

In [30]:
df1.apply(lambda x:sum(x.isnull()))

0     16
1     29
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
dtype: int64

In [31]:
cols=[0,1]
df1[cols]=df1[cols].fillna(df1.mode().iloc[0])

In [32]:
df1.apply(lambda x:sum(x.isnull()))

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

# mean using imputer

In [33]:

features1=data1.iloc[:,:-1].values

In [34]:
imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)

C:\Users\Sarma\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [35]:
imputer.fit(features1[:,[2,3,8]])

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [36]:
features1[:,[2,3,8]]=imputer.fit_transform(features1[:,[2,3,8]])

In [37]:
df1=pd.DataFrame(features1)

In [38]:
df1

,0,1,2,3,4,5,6,7,8,9,10
0,Single,Male,30000,0,Partial College,Clerical,No,1,1,Europe,33
1,Married,Female,40000,0,Graduate Degree,Clerical,Yes,0,1,Europe,37
2,Married,Male,160000,5,Partial College,Professional,No,3,2,Europe,55
3,Single,Male,160000,0,Graduate Degree,Management,Yes,2,5,Pacific,47
4,NaN,Female,70000,2,Bachelors,Skilled Manual,No,1,1,North America,38
5,Married,NaN,120000,2,Bachelors,Management,Yes,3,1,North America,40
6,Single,Female,70000,0,High School,Professional,Yes,2,4.2101,Pacific,49
7,Single,Female,60000,0,High School,Professional,No,2,1,North America,49
8,NaN,Female,0,1.11162,Bachelors,Clerical,Yes,0,10,Europe,38
9,Single,Female,20000,1,Partial College,Manual,No,0,1,Europe,46
10,Single,Male,50000,0,Bachelors,Management,No,2,2,North America,64
11,Married,Female,70000,2,Partial College,Professional,No,0,11,North America,49
12,Single,NaN,60000,0,Partial College,Skilled Manual,No,2,1,North America,31
13,NaN,Female,40000,0,Partial College,Clerical,Yes,1,1,North America,50
14,Married,Male,90000,0,Partial College,Professional,Yes,1,1,North America,49
15,Single,Male,70000,0,Partial College,Skilled Manual,No,1,1,Pacific,44
16,Single,Female,50000,2,Bachelors,Skilled Manual,Yes,1,2,North America,39
17,Married,Female,40000,0,Partial College,Clerical,Yes,1,1,North America,51
18,Single,Male,0,0,Partial College,Clerical,Yes,1,2,North America,48
19,NaN,Female,60000,0,Partial College,Skilled Manual,No,1,6,Pacific,45
20,Single,Female,60000,2,Bachelors,Professional,Yes,2,1,Pacific,43
21,Single,NaN,80000,5,Bachelors,Professional,Yes,4,12,Pacific,41
22,Married,Male,70000,4,Bachelors,Professional,Yes,2,1,Pacific,44
23,NaN,Female,70000,0,Graduate Degree,Professional,Yes,0,4.2101,North America,37
24,Single,Female,70000,4,Partial College,Skilled Manual,Yes,2,1,Pacific,44
25,Single,Female,90000,0,Partial College,Professional,No,2,1,Europe,62
26,Married,Male,70000,4,Partial College,Skilled Manual,Yes,2,1,Pacific,44
27,Married,Male,70000,4,Partial College,Skilled Manual,Yes,2,9,Pacific,44
28,Single,Male,80000,1.11162,Partial College,Skilled Manual,No,1,5,Pacific,49
29,Single,Male,40000,0,Graduate Degree,Clerical,Yes,0,1,Europe,37
...,...,...,...,...,...,...,...,...,...,...,...
6967,Married,Male,60000,1,Partial College,Professional,Yes,2,2,North America,54
6968,Married,Male,70000,2,Partial College,Professional,Yes,1,1,North America,55
6969,Married,Male,70000,1,Partial High School,Skilled Manual,Yes,2,1,North America,54
6970,Married,Male,70000,1,Partial High School,Skilled Manual,Yes,3,2,North America,54
6971,Married,Male,70000,3,Partial College,Professional,Yes,1,7,North America,53
6972,Single,Male,70000,3,Partial College,Professional,Yes,1,8,North America,53
6973,Married,Female,130000,4,Partial College,Professional,Yes,1,9,Europe,48
6974,Married,Female,110000,4,Partial College,Professional,Yes,3,2,Europe,49
6975,Married,Male,110000,4,Partial College,Professional,No,3,3,Europe,49
6976,Married,Female,150000,3,High School,Professional,Yes,4,5,Europe,49
6977,Married,Female,120000,4,Partial High School,Professional,No,4,6,Europe,50
6978,Married,Female,110000,4,Partial College,Professional,Yes,4,7,Europe,51
6979,Single,Female,120000,4,Partial High School,Professional,Yes,4,1,Europe,51
6980,Married,Female,80000,1,Partial College,Professional,Yes,2,2,Europe,51
6981,Married,Female,80000,0,Bachelors,Management,Yes,2,1,Europe,62
6982,Married,Female,90000,0,Partial College,Professional,Yes,2,1,Europe,62
6983,Married,Female,130000,4,Bachelors,Management,Yes,4,2,Europe,62
6984,Married,Male,80000,0,Partial College,Professional,Yes,2,7,Europe,61
6985,Married,Male,110000,4,Bachelors,Management,Yes,4,8,Europe,61
6986,Married,Female,120000,4,Bachelors,Management,Yes,4,9,Europe,61
6987,Married,Male,130000,4,Bachelors,Management,Yes,4,2,Europe,61
6988,Married,Male,100000,3,Bachelors,Management,Yes,4,3,Europe,60
6989,Married,Female,100000,4,Bachelors,Management,Yes,1,5,Europe,60
6990,Married,Female,150000,4,Graduate Degree,Management,Yes,4,6,Europe,60
6991,Married,Female,80000,2,Partial College,Professional,Yes,2,7,Europe,53
6992,Married,Male,100000,4,High School,Professional,Yes,3,1,Europe,52
6993,Married,Female,130000,4,Partial College,Professional,Yes,4,2,Europe,52
6994,Married,Female,160000,5,Bachelors,Management,Yes,2,1,Europe,53
6995,Single,Female,120000,5,Partial College,Professional,Yes,3,1,Europe,54
6996,Married,Male,130000,5,High School,Professional,Yes,3,2,Europe,54

In [39]:
cols=[0,1]
df1[cols]=df1[cols].fillna(df1.mode().iloc[0])

In [40]:
df1.apply(lambda x:sum(x.isnull()))

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64